

.Marketing-Box{
    width: 45%;
}
.Box-Image{
    width: 50%;
}
.text-hover:hover{
    cursor: pointer;
    text-decoration: underline;
}
.Marketing-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2%;
}
/* .Image-text{
    font-size: 40px;
} */
.Marketing-Business-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2%;
}
.succes-stories:hover{
    color: teal;
    margin-right: 50px;
}
.Marketing-grid-3{
    display: grid;
    grid-template-columns: 65% 33%;
    gap: 2%;
}
.Market-trending{
    display: grid;
    grid-template-columns: 40% 20% 40%;
}
.Market-button{
    text-align: start;
}

.Market-button>button{
    width: 20%;
    padding: 10px;
    border-radius: 20px;
    background-color: #fefef4;
    cursor: pointer;
}
.Marketing-btn-buy{
    transition: .4s ease-out;
    }
.Marketing-btn-buy:hover{
    transform: translateY(-8px);
    background-color: "#FFE01B";
}





@media screen and (max-width: 1100px) {
    .Marketing-Box {
      width: 80%;
    }
    .Box-Image{
        width: 70%;
    }
    .Marketing-grid{
        /* display: grid; */
        grid-template-columns: repeat(1, 1fr);
        /* gap: 2%; */
    }
    /* .Image-text{
        font-size: 40px;
    } */
    .Market-trending{
        display: grid;
        grid-template-columns: 100% 100%;
    }
    
  }
  
  @media screen and (max-width: 590px) {
    .Marketing-Box {
      width: 90%;
    }
    .Box-Image{
        width: 90%;
    }
    .Marketing-grid{
        /* display: grid; */
        grid-template-columns: repeat(1, 1fr);
        /* gap: 2%; */
    }
    .Marketing-grid-3{
        display: grid;
        grid-template-columns: 100%;
        /* gap: 2%; */
    }
    .Market-trending{
        display: grid;
        grid-template-columns: 100% 100%;
    }
  }


  @media screen and (max-width: 750px){
    .Marketing-Business-grid{
        /* display: grid; */
        grid-template-columns: repeat(1, 1fr);
        /* gap: 2%; */
    }
  }