
body {
    margin: 0;
    /* background-color: #f1f1f1; */
    font-family: Arial, Helvetica, sans-serif;

  }
  
  #navbar{
    width: 100%;
    margin: auto;
    background-color: white;
    height: 70px;
    align-items: center;
    justify-content: center;
    transition: top 0.3s;
    border-bottom: solid gray 1px;
    border-top: solid gray 1px;
  }
  
  #navbar > div {
    margin: auto;
    width: 27%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: solid 1px red; */
    margin-top: 25px;
    font-size: 1.5vw;
  }
  .explore{
    color: teal;
  }
  
  #navbar>div>div:hover{
    cursor: pointer;
    color: teal;
  }

  @media screen and (max-width: 1100px){
    #navbar > div{
        width: 50%;
        font-size: 2vw;
    }
  }

  @media screen and (max-width: 600px){
    #navbar > div{
        font-size: 2.5vw;
        width: 40%;
    }
  }

  @media screen and (max-width: 500px){
    #navbar{
        width: 97%;
    }
  }
